@import "../../styles/parshals.scss";

.notify--add__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notify--add__icon {
  font-size: 60px;
  color: $secondary-element-color;
}

.notify--add__text span {
  font-weight: 700;
  color: $secondary-element-color;
}

.notify--delete__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notify--delete__icon {
  font-size: 60px;
  color: $light-bgc-color;
}

.notify--delete__text span {
  font-weight: 700;
  color: $light-bgc-color;
}

.notify--empty__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notify--empty__icon {
  font-size: 50px;
  color: $light-bgc-color;
}

.Toastify__toast-body {
  padding-left: 10px;
  text-align: center;
}

.Toastify__toast--success {
  background: $light-bgc-color;
}

.Toastify__toast--error {
  background: $secondary-element-color;
}
