$main-bgc-color: #0d5146;
$second-bgc-color: rgb(5, 117, 94);
$third-bgc-color: #00362d;
$light-bgc-color: #6ca299;
$main-text-color: #ffffff;
$main-element-color: #871027;
$secondary-element-color: #c72852;
$third-element-color: #9d3551;
$light-element-color: #e89aaf;
