@import "../../styles/parshals.scss";

.Navigation__mob {
  display: flex;
  align-items: center;
}

.Navigation__logo {
  display: flex;
  align-items: center;
  margin-right: 132px;
  font-size: 20px;
  font-weight: 700;
  color: $main-text-color;
  transition: $transition;
  /* color: $main-element-color; */

  &:hover {
    color: $main-element-color;
  }
}

.Navigation__logo--icon {
  margin-right: 5px;
  font-size: 40px;
  color: $main-element-color;
}

.Navigation__btn {
  height: 37px;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;

  background-color: transparent;
  font-size: 37px;
  color: $main-element-color;
  cursor: pointer;
}

.Navigation__menu-item {
  &:active {
    background-color: transparent;
  }
}

.Navigation__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: $third-bgc-color;
  font-weight: 500;
}

.Navigation__link_active {
  color: $main-element-color;
}

.Navigation__icon {
  margin-right: 5px;
  color: $main-element-color;
  font-size: 30px;
}

/* style={{ color: `#871027`, fontSize: 36 }} */
