@import "../../styles/parshals.scss";
.Header {
  width: 100%;
  position: fixed;
  height: 60px;
  z-index: 1;
  background-color: $main-bgc-color;
  border-bottom: 1px solid #02463b;
}

.container {
  position: relative;
}
