.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.5s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: rgb(163, 2, 77);

  font-size: 40px;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
